{{getv "/cf/domain"}}
{{getv "/cf/admin_password"}}
{{getv "/cf/admin_user"}}
{{getv "/cf/support_address"}}
{{getv "/cf/ssl_pem"}}
{{getv "/cf/jobs/diego/enabled"}}
{{getv "/cf/jobs/etcd/container_ip"}}
{{getv "/cf/jobs/loggregator/container_ip"}}
{{getv "/cf/jobs/nats/container_ip"}}
{{getv "/cf/jobs/postgres/container_ip"}}
{{getv "/cf/jobs/router/container_ip"}}
{{getv "/cf/syslog_drain/address"}}
{{getv "/cf/syslog_drain/port"}}
getv "/cf/syslog_drain/transport"
